.vs
x64
**/.DS_Store
.idea/
.vs/
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
build/
cmake-build-*/
prefix/
.clangd
CMakeLists.txt.user
CMakeUserPresets.json
compile_commands.json
.sdkconfig
localcontroller.db
central_system_db.db
.config.*
__pycache__
nav.json